<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


</head>

<body>
    <div class="container">
        <div class="form-group">
            <h3>username</h3>
            <input type="text" name="username" id="username" value="">
            <h3>email</h3>
            <input type="text" name="email" id="email" value="">
            <h3>password</h3>
            <input type="password" name="password" id="password" value="">

        </div>
        <input type="button" value="registrarse" onclick="create()">

    </div>
    </div>

</body>
 <script>
      function create(){
      const usernameValue = document.getElementById("username").value;
      const emailValue = document.getElementById("email").value;
      const passwordValue = document.getElementById("password").value; 
      
       fetch("/api/users/", {
        method: "post",
        headers: {
          "Content-type": "application/json"
           },
        body: JSON.stringify({ username: usernameValue, email:emailValue, password: passwordValue })
          
      }).then(res =>{
        if (res.ok){
            res.text().then(text => {
            localStorage.setItem("token", text);
            location.href= "/users"; 
            })
             
      } else{
        res.send ("error");
      }
    })
  }
    
   

</script>

</html>