<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css"  
      media="screen,projection"/> 
    <script src="/js/jwt-decode.min.js"></script>

  </head>
  <body>
      <div>
          <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">Travelling</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/newuser">registrarse</a></li>
                <li><a href="/login">identificarse</a></li>
                <li><a href="">cerrar sesion</a></li>
              </ul>
            </div>
          </nav>
        </div>