<%include _header.ejs%>

<h4 class="card-panel teal lighten-2" style="color: white">Introduce los datos de tu nuevo viaje!</h4>
<div class="container">
  <div class="form-group">
    <div class="input-field col s12">
      <input id="destino" type="text" class="validate">
      <label for="destino">Destino</label>
    </div>
    <h3>Fecha Inicio</h3>
    <input type="date" class="datepicker" name="fechaInicio" id="fechaInicio" value="">
    <h3>Fecha Fin</h3>
    <input type="date" class="datepicker" name="fechaFin" id="fechaFin" value="">
    <h3>Describe tu viaje</h3>
    <input type="text" name="descripcion" id="descripcion" value="">
  </div>

  <div class="flex-container">
    <div>
      <a class="waves-effect waves-light btn" href="javascript:create()">
        <i class="material-icons left">add</i>Crear viaje</a>
      </a>
    </div>
  </div>
</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

  function create() {
    const destinoValue = document.getElementById("destino").value;
    const fechaInicioValue = document.getElementById("fechaInicio").value;
    const fechaFinValue = document.getElementById("fechaFin").value;
    const descripcionValue = document.getElementById("descripcion").value;
    const token = localStorage.getItem("token");

    fetch("/api/travels", {
      method: "post",
      headers: {
        "Content-type": "application/json",
        Authorization: "Bearer " + token
      },
      body: JSON.stringify({
        destino: destinoValue, fechaInicio: fechaInicioValue,
        fechaFin: fechaFinValue, descripcion: descripcionValue
      })

    }).then(res => {
      if (res.ok) {
        res.text().then(text => {
          location.href = "/travels";
        })

      } else {
        res.send("error");
      }
    })
  }


</script>

<%include _footer.ejs%>