<%include _header.ejs%>

    <div class="container">
        <div class="form-group">
            <h3>Destino</h3>
            <input type="text" name="destino" id="destino" value="">
            <h3>Fecha Inicio</h3>
            <input type="date" class="datepicker" name="fechaInicio" id="fechaInicio" value="">
            <h3>Fecha Fin</h3>
            <input type="date" class="datepicker" name="fechaFin" id="fechaFin" value="">
            

        </div>
        <input type="button" value="Aplicar" onclick="edit()">

    </div>
    </div>

</body>
<script>
    //1.//desde aqui enviamos una petición Fecht /users/:id,
    // para que me devuelva los datos de la persona a la 
    //que corresponda ese id. Estos datos que me devuelva los tengo que pintar
    //en el formulario para que aparezcan en pantalla

    const id = location.pathname.split(["/"]).slice(-1)[0];
    console.log (id)
    const token = localStorage.getItem("token");

    fetch ("/api/travels/" + id, {
         method: "get",
         headers: {
           "Content-type": "application/json",
           Authorization: "Bearer " + token
           }
       }).then(res => {
           if (res.ok){
           res.json().then(json =>{
            console.log(json.destino);
            document.getElementById("destino").value = json.destino;
            document.getElementById("fechaInicio").value = json.fechaInicio;
            document.getElementById("fechaFin").value = json.fechaFin;
           });
         }
       });

      function edit(){
      const destinoValue = document.getElementById("destino").value;
      const fechaInicioValue = document.getElementById("fechaInicio").value;
      const fechaFinValue = document.getElementById("fechaFin").value; 
      
       fetch("/api/travels/" + id, {
        method: "put",
        headers: {
          "Content-type": "application/json",
           Authorization: "Bearer " + token
           },
        body: JSON.stringify({ destino: destinoValue, fechaInicio:fechaInicioValue, fechaFin: fechaFinValue })
          
      }).then(res =>{
        if (res.ok){
          location.href= "/travels";    
      } else{
        res.send ("error");
      }
    })
  }
      
    
    //2. enviamos otra petición Fecht tipo put a api/users cogiendo los 
    //datos que entren por los inputs y y modifique (que es lo que hace el
    //router.put(/user/id)). Esos nuevos datos que se han guardado en la bbdd
    //me los devuelve y se tienen que pintar en la vista de users.



</script>


<%include _footer.ejs%>