<%include _header.ejs%>
<div>
  <h5 class="card-panel teal lighten-2" style="color: white" id="welcome"></h5>
  <br>
  <br>
  <!-- esta va a ser la lista de viajes del usuario logeado -->
  <table id="myTable" hidden="true">
    <tr>
      <th scope="col">Destino</th>
      <th scope="col">Inicio</th>
      <th scope="col">Fin</th>
      <th scope="col">Descripción</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </table>
  <div class="flex-container">
    <div>
      <a class="waves-effect waves-light btn" href="/createtravel">
        <i class="material-icons left">add</i>Crear viaje</a>
      </a>
    </div>
  </div>
</div>
<script>

  //cambiar user por travel
  // Tengo que hacer una api para travel

  const token = localStorage.getItem("token");
  const decoded = jwt_decode(token);
  
  document.getElementById("welcome").innerText = "Bienvenido/a a esta comunidad viajera "
    + decoded.username + ". ¿Quieres dar de alta un viaje?";
  console.log(decoded);

  fetch("api/travels", {
    headers: {
      "Content-type": "application/json",
      Authorization: "Bearer " + token
    }
  }).then(res => {
    if (res.ok) {
      res.json().then(json =>
        json.map(travel => {
          console.log(travel);
          const tableRow = document.createElement("tr");
          const columDestino = document.createElement("td");
          //asignamos un texto
          columDestino.innerText = travel.destino;
          //añadimos la columna a la fila
          tableRow.appendChild(columDestino);

          const columFechaInicio = document.createElement("td");
          //asignamos un texto
          columFechaInicio.innerText = travel.fechaInicio;
          //añadimos la columna a la fila
          tableRow.appendChild(columFechaInicio);

          const columFechaFin = document.createElement("td");
          //asignamos un texto
          columFechaFin.innerText = travel.fechaFin;
          //añadimos la columna a la fila
          tableRow.appendChild(columFechaFin);

          const columDescripcion = document.createElement("td");
          //asignamos un texto
          columDescripcion.innerText = travel.descripcion;
          //añadimos la columna a la fila
          tableRow.appendChild(columDescripcion);

          const columEdit = document.createElement("td");
          const buttonEdit = document.createElement("button");
          buttonEdit.innerHTML = "Editar";
          tableRow.appendChild(columEdit);
          columEdit.appendChild(buttonEdit);
          buttonEdit.onclick = () => {
            location.href = "/travels/edit/" + travel._id;
          }

          const columDelete = document.createElement("td");
          const buttonDelete = document.createElement("button");
          buttonDelete.innerHTML = "Eliminar";
          tableRow.appendChild(columDelete);
          columDelete.appendChild(buttonDelete);
          buttonDelete.onclick = () => {
            fetch("api/travels/" + travel._id, {
              method: "delete",
              headers: {
                "Content-type": "application/json",
                Authorization: "Bearer " + token
              }
            }).then(() => {
              location.href = "/travels";
            });
          };

          document.getElementById("myTable").appendChild(tableRow);
          document.getElementById("myTable").hidden = false;
          document.getElementById("welcome").innerText = " "
            + decoded.username + " , aquí puedes ver tus viajes";
        })
      )
    }
  });




</script>

<%include _footer.ejs%>