
<%include _header.ejs%>

    <!-- esta es la lista de usuarios -->
    <table id="myTable" >
      <tr >
        <th scope="col" >Nombre</th>
        <th scope="col" >email</th>
        <th scope="col" >Edit</th>
        <th scope="col" >Delete</th>
      </tr>
    </table>
  </body>

  <script>
    const token = localStorage.getItem("token");
    const decoded = jwt_decode(token);
    console.log(decoded);
    fetch("api/users", {
      headers: {
        "Content-type": "application/json",
        Authorization: "Bearer " + token
      }
    }).then(res => {
      if (res.ok) {
        res.json().then(json =>
          json.map(users => {
            const tableRow = document.createElement("tr");
            const columName = document.createElement("td");
            //asignamos un texto
            columName.innerText = users.username;
            //añadimos la columna a la fila
            tableRow.appendChild(columName);

            const columEmail = document.createElement("td");
            //asignamos un texto
            if (users.email) {
              columEmail.innerText = users.email;
            } else {
              columEmail.innerText = "";
            }
            //añadimos la columna a la fila
            tableRow.appendChild(columEmail);

            if (users.email) {
              const columEdit = document.createElement("td");
              const buttonEdit = document.createElement("button");
              buttonEdit.innerHTML = "Editar";
              tableRow.appendChild(columEdit);
              columEdit.appendChild(buttonEdit);
              buttonEdit.onclick = ()=>{
                location.href = "/users/edit/" + users._id;
              }
              
            }

            if (users.email) {
              const columDelete = document.createElement("td");
              const buttonDelete = document.createElement("button");
              buttonDelete.innerHTML = "Eliminar";
              tableRow.appendChild(columDelete);
              columDelete.appendChild(buttonDelete);
              buttonDelete.onclick = () => {
                fetch("api/users/" + users._id, {
                  method: "delete",
                  headers: {
                    "Content-type": "application/json",
                    Authorization: "Bearer " + token
                  }
                }).then(() => {
                  location.href = "/users";
                });
              };
            }

            document.getElementById("myTable").appendChild(tableRow);
          })
        );
      }
    });
  </script>

<%include _footer.ejs%>
