  <div class="card mb-3">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/original/{{movie?.backdrop_path}}" alt="Card image cap">
    <div class= 'row'>
      <div class = "col-3">
          <img class="card-img-top mt-3" src="https://image.tmdb.org/t/p/original/{{movie?.poster_path}}" alt="Card image cap">
        </div>
      <div class = "col-9">
        <div class="card-body">
            <h5 class="card-title">{{movie?.title}}</h5>
            
            <p class="card-text">{{movie?.overview}}</p>
            
          </div>

      </div>

    </div>
        
    </div>
     
   
