<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

  
</head>

<body>
<h1>User Detail</h1>
<div id="detail"></div>
   
</body>

<script>
    const token = localStorage.getItem("token");
    fetch ("/api/users/<%=id%>", {
        headers:{
            "Content-type": "application/json",
            "Authorization": "Bearer " + token
        }

    }).then(res =>{     
        if(res.ok) {
            res.json().then(json =>
                json.map(users => {
                    const p = document.createElement("p");
                    p.innerText = users.username  +" ( " + users.email + ")";
            
                    document.getElementById("detail").appendChild(p);
                })
            )
        }
    })

</script>

</html>